.container-order {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //padding: 40px 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.order {
  position: relative;
  width: 90%;
  max-width: 400px;
}

.description {
  left: 435px;
  top: 100px;
  position: absolute;
  width: 260px;

  @include tablets {
    display: none;
  }
}

.description__item {
  font-size: 14px;
  color: #494949;
  margin-bottom: 10px;
}

.addition {
  left: -315px;
  top: 285px;
  position: absolute;
  @include tablets {
    display: none;
  }
}

.addition__item {
  margin-bottom: 55px;
  display: flex;
}

.addition__text {
  font-size: 14px;
  color: #494949;
  display: inline-block;
  width: 240px;
}

.widget-shape {
  display: inline-block;
}

.order__form {
  width: 100%;
}

.order__form-row {
  margin-bottom: 10px;
}

.order__form-label {
  font-size: 18px;
  line-height: 135%;
}

.lock {
  &:after {
    content: '*';
    color: red;
  }
}

.order__form-sublabel {
  font-size: 13px;
  line-height: 135%;
  padding-left: 5px;
}

.order__form-input {
  font-size: 16px;
  bottom: 2px;
  padding-top: 8px;
  padding-left: 8px;
  min-height: 34px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(38, 165, 165);
  //box-shadow: rgb(38, 165, 165) 0px -2px 0px 0px inset;

  &:focus {
    outline: 0px;
    border-bottom: 2px solid rgb(61, 179, 37);
    //box-shadow: rgb(61, 179, 37) 0px -2px 0px 0px inset;
  }

  label {
    display: inline-block;
    margin-left: 5px;
  }

  &.checkbox {
    padding-bottom: 5px;
    label {
      display: block;
    }
  }

  &.end {
    //box-shadow: 0px 0px 0px 0px inset;
    border-bottom: 0px;
  }

  &.select {
    padding-left: 0px;
    border-bottom: 0px;
  }
}

#phone {
  letter-spacing: 2px;
}

textarea.order__form-input {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

label input {
  margin-right: 7px;
}
