extends template

block title
  | Форма

block content
  .wrapper    
    .container-order
      .section-title Форма регистрации в секцию
      form(action="server.php" method="post").order#order-form
        .order__form            
          .order__form-row
            label.order__form-block
              .order__form-label.lock Фамилия ребенка
              input(type="text" name="surname" placeholder="Ваш ответ" required).order__form-input
          .order__form-row
            label.order__form-block
              .order__form-label.lock Имя ребенка
              input(type="text" name="name" placeholder="Ваш ответ" required).order__form-input
          .order__form-row
            label.order__form-block
              .order__form-label.lock Отчество ребенка
              input(type="text" name="lastname" placeholder="Ваш ответ" required).order__form-input   
          .order__form-row
            label.order__form-block
              .order__form-label.lock Дата рождения
              .order__form-sublabel Введите дату рождения ребенка
              input(type="text" name="birthday" placeholder="Ваш ответ" required).order__form-input#datepick  
          .order__form-row
            label.order__form-block
              .order__form-label.lock Контактный телефон
              .order__form-sublabel Введите ваш номер телефона
              input(type="text" name="tel" placeholder="+7(___)___-____" required).order__form-input#phone
          .order__form-row
            label.order__form-block
              .order__form-label Статус ребенка
              select(name="group").order__form-input
                option(value="none") Выбрать...
                option(value="upperschool") Дошкольник (5-6 лет)
                option(value="school") Школьник (7-17 лет)     
          .order__form-row
            .order__order-row_btn
              input(type="submit" value="Далее").order__form-button    

              